:root {
  --clr-primary-light-red: hsl(0, 100%, 67%);
  --clr-primary-orangey-yellow: hsl(39, 100%, 56%);
  --clr-primary-green-teal: hsl(166, 100%, 37%);
  --clr-primary-cobalt-blue: hsl(234, 85%, 45%);

  --grad-light-slate-blue: hsl(252, 100%, 67%);
  --grad-light-royal-blue: hsl(241, 81%, 54%);
  --grad-violet-blue-circle: hsla(256, 72%, 46%, 1);
  --grad-persian-blue-circle: hsla(241, 72%, 46%, 0);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-pale-blue: hsl(221, 100%, 96%);
  --clr-neutral-light-lavender: hsl(241, 100%, 89%);
  --clr-neutral-dark-gray-blue: hsl(224, 30%, 27%);

  --ff-primary: 'Hanken Grotesk', sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --fs-base-paragraph: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: var(--ff-primary);

}

section:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, var(--grad-light-slate-blue), var(--grad-light-royal-blue));
  border-radius: 0 0 32px 32px;
  padding: 20px;

}


section:first-of-type div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, var(--grad-persian-blue-circle), var(--grad-violet-blue-circle));
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: var(--clr-neutral-white);
  font-weight: var(--fw-extra-bold);
  margin: 16px 0;

}

h1 {
  color: var(--clr-neutral-pale-blue);
  font-size: 16px;
}

h2 {
  color: var(--clr-neutral-white);
}

p {
  color: var(--clr-neutral-light-lavender);
  font-size: 18px;
  padding: 10px;
  line-height: 24px;
}


div>:nth-child(1) {
  font-size: 46px;
}

div>:nth-child(2) {
  color: var(--clr-neutral-light-lavender);
  font-weight: 100;
}